<ion-view view-title="Cadrimil - Localidades">
  <ion-content class="padding">

    <ul class="list">
        <li class="item item-divider item-dark">
          <div class="row">
            <div class="col-25">
              Sigla
            </div>
            <div class="col-75">
              Localidades
            </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-25">
              <h1>L1</h1>
            </div>
            <div class="col-75">
              Brasília<br />
              Manaus<br />
              Rio de Janeiro
            </div>
          </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-25">
              <h1>L2</h1>
            </div>
            <div class="col-75">
              Belo Horizonte<br />
              Fortaleza<br />
              Porto Alegre<br />
              Recife<br />
              Salvador<br />
              São Paulo
            </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-25">
              <h1>L3</h1>
            </div>
            <div class="col-75">
              Demais Capitais
            </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-25">
              <h1>L4</h1>
            </div>
            <div class="col-75">
              Demais Cidades
            </div>
        </li>
    </ul>

  </ion-content>
</ion-view>
