<ion-view view-title="Cadrimil - Círculos Militares">
  <ion-content class="padding">

    <ul class="list">
        <li class="item item-divider item-dark">
          <div class="row">
            <div class="col-20 cont">
              Círculo
            </div>
            <div class="col-80 content-center">
              Posto / Graduação
            </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-20">
              <h1>A</h1>
            </div>
            <div class="col-80">
              Comandante da Marinha<br />
              Comandante do Exército<br />
              Comandante da Aeronáutica<br />
              Cargos de Natureza Especial
            </div>
          </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-20">
              <h1>B</h1>
            </div>
            <div class="col-80">
              Oficiais Generais
            </div>
          </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-20">
              <h1>C</h1>
            </div>
            <div class="col-80">
              Oficiais Superiores
            </div>
          </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-20">
              <h1>D</h1>
            </div>
            <div class="col-80">
              Oficiais Intermediários<br />
              Oficiais Subalternos<br />
              Guardas-Marinha<br />
              Aspirante-a-Oficial
            </div>
          </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-20">
              <h1>E</h1>
            </div>
            <div class="col-80">
              Suboficiais<br />
              Subtenentes<br />
              Sargentos<br />
              Aspirantes<br />
              Cadetes
            </div>
          </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-20">
              <h1>F</h1>
            </div>
            <div class="col-80">
              Alunos CF Of. Aeronáutica<br />
              Alunos Prep. Of. da Reserva<br />
              Alunos Colégio Naval<br />
              Alunos Esc. Prep. de Cadetes
            </div>
          </div>
        </li>
        <li class="item item-divider item-stable">
          <div class="row">
            <div class="col-20">
              <h1>G</h1>
            </div>
            <div class="col-80">
              Demais Praças<br />
              Praças Especiais
            </div>
          </div>
        </li>
    </ul>

    <br />

  </ion-content>
</ion-view>
