<ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Calcular" icon-off="ion-ios-calculator-outline" icon-on="ion-ios-calculator" href="#/tab/calcular">
    <ion-nav-view name="tab-calcular"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Valores" icon-off="ion-cash" icon-on="ion-cash" href="#/tab/valores">
    <ion-nav-view name="tab-valores"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Localidades" icon-off="ion-map" icon-on="ion-map" href="#/tab/localidades">
    <ion-nav-view name="tab-localidades"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Círculos" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/circulos">
    <ion-nav-view name="tab-circulos"></ion-nav-view>
  </ion-tab>

</ion-tabs>
